/* ==========================================================================
   Web App Boilerplate - Main.css
   ========================================================================== */

/* Native Tags */
body {
	padding: 20px;
}

/* App View */
#app-view {
	padding-top: 10px;
}

/* Navigation Bar */
.navbar {
	margin: 0 10px 10px 10px;
}

/* Page Views */
.page-view > h3 {
	margin-left: 20px;
}

/* Places List */
#places-list {
	padding: 20px;
}
#places-list .panel {
	width: 100%;
}
#places-list .panel.detail {
	width: 1152px;
}
/*
#places-list .panel .panel-body{
	width:1136px;
}*/

/* Forecast Days */
.forecast-day {
	border: 1px solid #cccccc;
	padding: 10px;
	width: 268px;
	float: left;
	margin-right: 16px;
	position: relative;
}
.forecast-day img{ 
	float: left; 
	margin: 10px;
	position: absolute;
}
.forecast-day p{ 
	font-size: 26px;
	margin-left: 100px;
}
.celsius .forecast-day .forecast-fahr, .celsius .forecast-day .forecast-windMph {
	display: none;
}
.fahrenheit .forecast-day .forecast-cel, .fahrenheit .forecast-day .forecast-windKph{
	display: none;
	
}

.forecast-windMph, .forecast-windKph {
	margin-left: 100px;
}

.forecast-conditions {
	margin-top: 10px;
	margin-left: 10px;
}

.forecast-humidity {
	margin-left: 100px;
}

/* Timer */
#time {
	text-align: center;
	font-size: 8em;
}

.clock12, .clock24, .minute {
	margin-right: 50px;
}

.hour12 .clock24{
	display: none;
}

.hour24 .clock12{
	display: none;
}

.fahrenheit .forecast-day .forecast-cel{
	display: none;
}

.fahrenheit .forecast-day .forecast-cel{
	display: none;
}


/* Settings Dialog */
.clockType > label{
	margin-right: 15px;
}

/* Date */
#date {
	font-size: 1.3em;
	text-align: center;
}

/* Analog Clock */

.analog-clock {
	width: 140px;
	height: 140px;
	margin: 0 auto;
}

#clock-face {
	stroke: black;
	stroke-width: 5px;
	fill:white;
}

#h-hand, #m-hand, #s-hand, #s-tail {
	stroke: black;
	stroke-linecap: round;
}

#h-hand {
	stroke-width: 3px;
}

#m-hand {
	stroke-width: 2px;
}

#s-hand {
	stroke-width: 1px;
}

.time-text {
	text-align: center;
}

#analogClock {
	display: none;
}


@media (max-width: 750px)
{
	#analogClock {
		display: block;
	}

	#timeWrapper {
		display: none;
	}
}